/*
 * Generic Editor Styles
 **************************/
 
div#edit-slug-box{
	display:none;
}
.acf_postbox{
	margin-top:0px;
}
div.field p.label label{
	text-transform:uppercase;
}
.acf_postbox h3.hndle{
	display:none;
}
.acf_postbox .field textarea{
	min-height:50px;
}
.field{
	background: rgb(247,247,247);
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 75%, rgba(234,234,234,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(247,247,247,1)), color-stop(100%,rgba(234,234,234,1)));
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 75%,rgba(234,234,234,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 75%,rgba(234,234,234,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 75%,rgba(234,234,234,1) 100%);
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 75%,rgba(234,234,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );
}
div.repeater > table.acf-input-table{
	border-top:0px;
	border-bottom:0px;
	box-shadow:0px -1px 1px #ccc, 0px 1px 1px #ccc;
}

/*
 * Image Selection
 **************************/

[data-field_name="img_link"] input,
[data-field_name="img_link_a"] input,
[data-field_name="img_link_b"] input
{
	display:none;
}
#tdx_pick_image_overlay{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.9;
	z-index:9999;
}
#tdx_pick_image_ui{
	display:none;
	position:fixed;
	top:100px;
	right:100px;
	bottom:100px;
	left:100px;
	background-color:#fff;
	z-index:10000;
	overflow:scroll;
	padding:50px;
}
#tdx_pick_image_content h1{
	margin-top:0px;
	display:inline-block;
	vertical-align:top;
}
#tdx_images{
	display:block;
	margin-top:25px;
}
#tdx_images a{
	text-decoration:none;
}
.tdx_loading{
	background-image:url("../img/spinner.gif");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	height:32px;
	width:32px;
	display:inline-block;
	margin-left:15px;
	margin-top:-7px;
	vertical-align:top;
}
div.tdx_images_close{
	background-image:url("../img/close.png");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	height:30px;
	width:30px;
	position:absolute;
	top:45px;
	right:75px;
	cursor:pointer;
}
div.object-thumb-wrap{
	width:140px;
	height:174px;
	display:inline-block;
	vertical-align:top;
	margin:0px 20px 10px 0px;
	background-color:#fff;
	cursor:pointer;
	border:1px solid #999;
	transition:all linear .15s;
	-webkit-transition:all linear .15s;
	-moz-transition:all linear .15s;
	-o-transition:all linear .15s;
	box-sizing:border-box;
}
div.object-thumb-wrap:hover{
	box-shadow:-3px 3px 5px #666;
	-webkit-box-shadow:-3px 3px 5px #666;
	-moz-box-shadow:-3px 3px 5px #666;
	-o-box-shadow:-3px 3px 5px #666;
	margin: 0px 12px 10px 8px;
}
div.object-thumb{
	position:relative;
	height:174px;
	overflow:hidden;
}
div.object-thumb img{
	padding:10px;
	max-width:120px;
	max-height:154px;
	margin:0px auto;
	display:block;
}
p.thumb-caption{
	position:absolute;
	padding: 3px 10px;
	box-sizing:border-box;
	bottom:4px;
	left:0px;
	width:140px;
	overflow:hidden;
	font-size:.8em;
	line-height:1.2em;
	text-align: center;
	transition:all linear .15s;
	color:#000;
	margin:0px;
	background: rgba(255, 255, 255,.9);
}
p.thumb-caption:hover{
	background-color:rgba(255,255,255,0.9);
	opacity:1;
}
p.thumb-caption span.title{
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	display:block;
}
p.thumb-caption span.artist{
	font-size:9px;
	line-height:12px;
	display:block;
	margin-top:3px;
	text-transform:uppercase;
}
p.thumb-caption span.year{
	font-size:9px;
	line-height:12px;
	display:block;
	margin-top:3px;
	text-transform:uppercase;
}
div.tdx_selected_image_wrap{
	position:relative;
	display:inline-block;
	line-height:0px;
  width: 100%;
}
div.tdx_selected_image_wrap iframe{
  width: 100%;
  height: 700px
}
div.tdx_selected_image_wrap iframe + strong {
  float: right;
  margin: 1.5em 0 -1.5em 0;
}
div.tdx_image_buttons{
	display:block;
}


/*
 * Annotations
 **************************/

img.tdx_selected_image {
	cursor:crosshair;
}
td[data-field_name="annotations"] a.acf-button-add, td[data-field_name="annotations"] a.acf-button-remove {
}
.wp-core-ui a.button.tdx_insert_image {
	margin-bottom:10px;
}
td[data-field_name="annotations"] a.add-row-end {
	display:none;
}
td[data-field_name="annotations"] table.acf_input > tbody > tr > td:first-child{
	display:none;
}
td[data-field_name="attachments"] a.add-row-end {
	display:block;
}
div.pin{
	min-width:15px;
	height:15px;
	background-color:white;
	border-radius:15px;
	position:absolute;
	border:1px solid black;
	line-height:15px;
	text-align:center;
	font-size:15px;
	cursor:move;
	z-index:5;
}
div.deletePin{
	line-height:16px;
	height:15px;
	white-space:nowrap;
	background-color:black;
	position:absolute;
	margin-left:20px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border:0px;
	margin-left:7px;
	z-index:4;
	width:0px;
	overflow:hidden;
	transition:width 100ms linear;
}
div.deletePin.visible{
	width:50px;
	padding:0px 10px 0px 15px;
	border:1px solid black;
}
div.deletePin a{
	color:#ccc;
	font-size:12px;
	text-decoration:none;
	text-transform:uppercase;
}
div.deletePin a:hover{
	color:#fff;
}
p.tdx_annotation_message{
	font-style:italic;
	font-size:16px;
	font-color:#fff;
	margin:20px;
}

td[data-field_name=annotations] > div > table > tbody > tr > td.acf_input-wrap > table > tbody > tr{
	display:none;
}
td[data-field_name=annotations] > div > table > tbody > tr > td.acf_input-wrap > table > tbody > tr:nth-of-type(1),
td[data-field_name=annotations] > div > table > tbody > tr > td.acf_input-wrap > table > tbody > tr:nth-of-type(4),
td[data-field_name=annotations] > div > table > tbody > tr > td.acf_input-wrap > table > tbody > tr:nth-of-type(5){
	display:table-row;
}
table.acf-input-table.row_layout > tbody > tr > td.order,
table.acf-input-table.row_layout > tbody > tr > td.acf_input-wrap,
table.acf-input-table.row_layout > tbody > tr > td.remove{
	border-top:20px solid #e1e1e1;
}


/*
 * For the annotation mini-maps
 **************************/

.minimap {
  height: 300px;
}
